pipeline/pl_create_silver_taxi_zone_usp_copy1.json
{
	"name": "pl_create_silver_taxi_zone_usp_copy1",
	"properties": {
		"activities": [
			{
				"name": "ForEach folder path",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('v_folder_path_usp_name_array')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Delete silver older",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_nyc_taxi_data_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"p_folder_path": {
											"value": "@item().folder_path",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "create silver table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Delete silver older",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().usp_name",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_serverless_sql_pool_db_nyc_taxi_Idw",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"v_folder_path_usp_name_array": {
				"type": "Array",
				"defaultValue": [
					{
						"folder_path": "silver/calendar",
						"usp_name": "silver.usp_silver_calendar"
					},
					{
						"folder_path": "silver/taxi_zone",
						"usp_name": "silver.usp_silver_taxi_zone"
					},
					{
						"folder_path": "silver/trip_type",
						"usp_name": "silver.usp_silver_trip_type"
					},
					{
						"folder_path": "silver/vendor",
						"usp_name": "silver.usp_silver_vendor"
					},
					{
						"folder_path": "silver/rate_code",
						"usp_name": "silver.usp_silver_rate_code"
					},
					{
						"folder_path": "silver/payment_type",
						"usp_name": "silver.usp_silver_payment_type"
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-07-29T15:00:09Z",
		"EntityState": "Deleting",
		"RenameOperationDetails": {
			"Source": "pl_create_silver_taxi_zone_usp_copy1",
			"Target": "pl_create_silver_tables",
			"OperationId": "87ccb8d2-f553-46c7-963e-21a81dfb273a"
		}
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}